VITE_API_BASE_URL=/api
VITE_SUPABASE_URL=https://stypdfjqisfqyqtwsgxh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0eXBkZmpxaXNmcXlxdHdzZ3hoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzNjQxNzcsImV4cCI6MjA4NDk0MDE3N30.OJrtyPbc-vMu1YIGfshWqxXLl-_y58sJk_qEtjO1DfQ
